.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.student-block {
  width: 320px;
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 6px;
}

video {
  width: 100%;
  height: auto;
  background: black;
}
